[maintainers][1]
# maintainers are people responsible for quality and they have level overview
* @lukas.koszegy @benjamin.alpert @daniel.vanco

[technical-responsible][1]
# technical-responsible people have deep knowledge in specific area
* @florin-alexandru.peter @jaromir.smrcek
