---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: networks.networking.metalnet.ironcore.dev
spec:
  group: networking.metalnet.ironcore.dev
  names:
    kind: Network
    listKind: NetworkList
    plural: networks
    singular: network
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: ID of the network.
      jsonPath: .spec.id
      name: Handle
      priority: 10
      type: integer
    - description: Age of the network.
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Network is the Schema for the networks API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: NetworkSpec defines the desired state of Network
            properties:
              id:
                description: ID is the unique identifier of the Network
                format: int32
                maximum: 16777215
                minimum: 1
                type: integer
              internetGateway:
                description: InternetGateway is a flag that indicates whether the
                  network has an internet gateway.
                type: boolean
              peeredIDs:
                description: PeeredIDs are the IDs of networks to peer with.
                items:
                  format: int32
                  type: integer
                type: array
              peeredPrefixes:
                description: PeeredPrefixes are the allowed CIDRs of the peered networks.
                items:
                  description: PeeredPrefix contains information of the peered networks
                    and their allowed CIDRs.
                  properties:
                    id:
                      format: int32
                      maximum: 16777215
                      minimum: 1
                      type: integer
                    prefixes:
                      items:
                        type: string
                      type: array
                  required:
                  - id
                  - prefixes
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - id
                x-kubernetes-list-type: map
            required:
            - id
            type: object
          status:
            properties:
              peerings:
                description: Peerings contains the states of the network peerings
                  for the network.
                items:
                  description: NetworkPeeringStatus is the status of a network peering.
                  properties:
                    id:
                      description: ID is the ID of the peered network.
                      format: int32
                      maximum: 16777215
                      minimum: 1
                      type: integer
                    state:
                      description: State represents the network peering state
                      type: string
                  required:
                  - id
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
